.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.footer__canvas {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
}
