.home {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding-bottom: 40dvh;
  position: relative;
  z-index: 1;

  > * {
    margin-bottom: 1lh;
    grid-column: 1/-1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .clients {
    margin-bottom: 4lh;

    @media (min-width: 700px) {
      margin-bottom: 6lh;
    }
  }

  .connect {
    position: relative;
    z-index: 1;
  }

  @media (min-width: 700px) {
    padding-bottom: 40dvh;

    p,
    .clients,
    .connect {
      grid-column: 2/-2;
    }

    .clients {
      margin-bottom: 12rem;
    }
  }
}
