:root {
  --background-color: #fff;
  --color-black: #131718;
  --color-grey: #63635e;
  --highlight-color: #e0ff4f;
  --accent-color: var(--color-black);
  --text-color: var(--color-grey);
  --border-color: #bfbfbf;
}
