@font-face {
  font-family: m;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/MonumentGrotesk/ABCMonumentGroteskVariable.woff2")
    format("woff2");
}

:root {
  --font-sans: "m", Helvetica, sans-serif;
}
