.grid {
  --columns: 6;
  --padding: 4rem;
  --gap: 0.8rem;

  display: grid;
  margin-inline: auto;
  max-width: calc(60rem + (var(--padding) * 2));
  width: 100%;
  gap: var(--gap);
  grid-template-columns:
    var(--padding) repeat(var(--columns), minmax(0, 1fr))
    var(--padding);
  row-gap: 0;
  grid-auto-rows: min-content;

  .subgrid {
    display: grid;
    grid-column: 2 / -2;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: 0 var(--gap);
  }
}
