:root {
  view-transition-name: root;
}

html,
body {
  font-family: var(--font-sans);
  font-weight: 375 !important;
  color: var(--text-color);
  background-color: var(--background-color);
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 1.75rem;
  line-height: 1.44;
  margin: 0;
  letter-spacing: -0.01em;
}

* {
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: none;
}

*::selection {
  text-shadow: 0 0 0.75rem var(--text-color);
  color: transparent;
  background-color: transparent;
}

.app {
  padding: 6rem 0 0;
  position: relative;
}
