h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.32;
  font-weight: 450;
  font-size: 1.75rem;
  letter-spacing: -0.0175em;
  color: var(--color-black);
}

h2,
h3,
h4,
h5 {
  margin-bottom: 0.5em;
}

p {
  margin: 0;
}

a {
  color: inherit;
  line-height: 1.2;
  position: relative;
  display: inline;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

p a {
  text-decoration: underline;
  color: var(--color-black);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}
