h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.2;
  font-weight: 375;
  font-size: 1.75rem;
}

h2,
h3,
h4,
h5 {
  color: var(--accent-color);
}


p {
  margin: 0;
}

a {
  color: inherit;
  line-height: 1.2;
  position: relative;
  display: inline;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

p a {
  text-decoration: underline;
  color: var(--accent-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}
